body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: blue;
}

#product{
    display: grid;
    width: 400px;
    height: 410px;
    border: 2px solid black;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 100px 200px 110px;
    margin: 20px 0 0 45px;
    float: left;
}

#productName{
    grid-column-start: 1;
    font-weight: bold;
    margin: 10px 0 0 10px
}

#productPrice{
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
}

#productDescription{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin-left: 5px;

    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

#productImage{
    width: 200px;
    height: 200px;
    grid-column-start: 1;
    grid-row-start: 2;
}

#searchbar{
    width: 500px;
    border-radius: 10px;
}
