body{
    margin: 0;
    background-color: rgba(250,250,250,0.7);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to bottom right, #ff0f7b, #f89b29);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(204,204,204,0.9);
    color: black;
    text-align: center;
}

#product{
    display: grid;
    width: 400px;
    height: 410px;
    border: 2px solid rgba(255,255,255,0.9);
    background-color: white;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: 100px 200px 110px;
    margin: 20px 0 0 45px;
    float: left;
    box-shadow: inset 5px -3px 30px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

#product:hover{
    transform: scale(1.05);
}

#productName{
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    width: 300px;
    margin: 10px 0 0 10px;
   
}

#productPrice{
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
}

#productDescription{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin-left: 10px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

#productImage{
    width: 200px;
    height: 200px;
    grid-column-start: 2;
    grid-row-start: 2;
}

#searchbar{
    width: 500px;
    border-radius: 10px;
}

#phpPages{
    height: 100%;
    width: 50%;
    position: fixed;
    left: 0;
    background-color: red;
    color: white;
}

#nodePages{
    height: 100%;
    width: 50%;
    position: fixed;
    right: 0;
    background-color: blue;
    color: white;
}

.pageLinks{
    color: white;
}